# Support ES2016 features
parser: babel-eslint

extends: airbnb

plugins: [
  "babel"
]

globals:
  monix: true
rules:
  no-param-reassign: [2, {"props": false}]
  one-var: [2, 'never']
  react/prefer-stateless-function: 'off'
  # arrow-body-style: [2, "always"]
